.header {
    padding: 20px 0;
}

body {
    background-color: aliceblue;

}

.miniLogo {
	width: 100px;
    display: block;
    position: absolute;
    left: 100px;
}

.playerbox{

  margin: 200px;
  width: 1250px;
    background-color: darkgrey;

}

.media{
  margin: 50px;
}

.list-group {
    padding: 20px;
}

audio {
    margin:0 15px 0 14px;
    width:600px;
}
