.header {
    padding: 20px 0;
}

.miniLogo {
	width: 100px;
    display: block;
    position: absolute;
    left: 100px;
}

.list-group {
    padding: 20px;
}

audio {
    margin:0 15px 0 14px;
    width:600px;
}