.h2 {
    font-size: 25px;
}

.mainLogo {
	max-width: 50%;
	display: block;
}

.miniLogo {
	width: 100px;
	display: block;
}

ul {
	width: 166,1px;
	position: absolute;
	right: 10px;
	top: 0;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 17px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lightskyblue;
}

.active {
    background-color: green;
}

.register-form {
	width: 500px;
	display: block;
	position: absolute;
	left: 400px;
}

.required-field {
    font-size: 17px;
    color: darkred;
    display: block;
    position: absolute;
    right: 0;
}